# Assignment 4

## Vivian Ram√≠rez

### Install libraries

In [4]:
!pip install hyper

Requirement already satisfied: hyper in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: h2<3.0,>=2.4 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from hyper) (2.6.2)
Requirement already satisfied: hyperframe<4.0,>=3.2 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from hyper) (3.2.0)
Requirement already satisfied: hpack<4,>=2.2 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from h2<3.0,>=2.4->hyper) (3.0.0)

In [5]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [6]:
!pip install savReaderWriter

Requirement already satisfied: savReaderWriter in d:\users\vivian.ramirez\appdata\local\anaconda3\lib\site-packages (3.4.2)

In [5]:
from collections.abc import Iterable

In [11]:
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
#import savReaderWriter as sav
import pyreadstat

#### 1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3]**

Using "pyreadstat", import the requested SPSS datasets for year 2019. \
Then, I must to import the labels for each dataset.

In [41]:
rec_1,meta1 = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
var_labels1=meta1.column_names_to_labels
value_labels1=meta1.variable_value_labels

In [42]:
rec_2, meta2 = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
var_labels2=meta2.column_names_to_labels
value_labels2=meta2.variable_value_labels

In [43]:
rec_3, meta3 = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
var_labels3=meta3.column_names_to_labels
value_labels3=meta3.variable_value_labels

#### 2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


#### Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

First, I select the variables of interest to extract the columns from each dataset

In [44]:
list_1=['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 
        'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123','V124', 
        'V125', 'V127', 'V133']
rec1_1 = rec_1.loc[:, list_1]

In [45]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

In [46]:
new_var_labels1 = {var: meta1.column_names_to_labels[var] for var in list_1 if var in meta1.column_names}
new_value_labels1 = {var: meta1.variable_value_labels[var] for var in list_1 if var in meta1.variable_value_labels}

In [47]:
list_2=['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 
        'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 
        'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
rec2_1 = rec_2.loc[:, list_2]

In [48]:
rec2_1

,CASEID,V201,V218,V301,V302,V323,V323A,V325A,V326,V327,...,V363,V364,V367,V372,V372A,V375A,V376,V376A,V379,V380
0,000100201 2,2.0,2.0,0.0,3.0,NaN,NaN,NaN,22.0,5.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000100201 3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,15.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000102801 6,3.0,3.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,23.0,24.0,NaN,NaN,NaN
4,000104801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,325406201 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36918,325406301 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36919,325407001 2,8.0,7.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36920,325407201 2,2.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36921,325407401 2,1.0,1.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
new_var_labels2 = {var: meta2.column_names_to_labels[var] for var in list_2 if var in meta2.column_names}
new_value_labels2 = {var: meta2.variable_value_labels[var] for var in list_2 if var in meta2.variable_value_labels}

In [50]:
list_3=['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 
        'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
rec3_1 = rec_3.loc[:, list_3]

In [51]:
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

In [52]:
new_var_labels3 = {var: meta3.column_names_to_labels[var] for var in list_3 if var in meta3.column_names}
new_value_labels3 = {var: meta3.variable_value_labels[var] for var in list_3 if var in meta3.variable_value_labels}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

generate the variable "year"

In [53]:
rec1_1.loc[:, 'year'] = 2019
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

"update" the variable labels including "year"

In [54]:
new_var_labels1.update({'year':"Year of the survey"})

#### 4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

merge using "CASEID" variable as a key (common variable in 3 datasets)

In [55]:
endes_2019 = rec1_1.merge(rec2_1, on='CASEID', how='outer')
endes_2019 = endes_2019.merge(rec3_1, on='CASEID', how='outer')

In [56]:
endes_2019

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

#### 5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

Update var_labels:

In [57]:
var_labels = {}

var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

value_labels:

In [58]:
value_labels = {}

value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

New atributes in Endes2019:

In [59]:
endes_2019.attrs.update({'var_labels': var_labels, 'value_labels': value_labels})